body {
  background-image: url('http://3.bp.blogspot.com/-0QM-Ivx308g/Tsh1JvmbljI/AAAAAAAAAJg/wwgRFz2EvGs/s1600/hoh-rainforest-wallpapers_11709_1600x1200.jpg');
}

#container {
  font-family: Garamond;
  width: 800px;
  height: 700px;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  overflow: auto;
  font-size: 20px;
}

td {
  padding: 10px;
}

#homepage {
  font-size: 40px;
  text-align: center;
  margin-top: 250px;
  background-color: white;
  width: 800px;
  border-radius: 30px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 300px;
}

#homepage a {
  text-decoration: none;
  color: green;
}

#homepage a:hover {
  color: lightgreen;
}